<section>
    <div class="container mt-4">
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table table-layout:fixed" id="orderTable">
                    <thead>
                        <tr>
                            <th scope="col" style="border: none;">Date</th>
                            <th scope="col" style="border: none;">Name</th>
                            <th scope="col" style="border: none;">Address</th>
                            <th scope="col" style="border: none;"> price</th>
                            <th scope="col" style="border: none;">peyment-method</th>
                            <th scope-"col" style="border: none;">status</th>
                            <th scope-"col" style="border: none;">!</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each claims}}
                        <tr>
                            <td scope="row" style="width: 100px;">{{this.date}}</th>
                            <td>{{this.deliveryDetails.name}}</td>
                            <td>{{this.deliveryDetails.Address}} <br>
                                pin :{{this.deliveryDetails.pincode}} <br>
                                phone :{{this.deliveryDetails.phoneNumber}}</td>
                            <td>Rs.{{this.totalPrice}}/-</td>
                            <td>{{this.deliveryDetails.paymentMethod}}</td>
                            <td>{{this.status}}</td>
                            <td><a href="/shop/view-claimed-products/{{this._id}}" class="btn btn-primary">view
                                    product</a><br>
                                <a href="/shop/claimed/{{this._id}}" class="btn  mt-3 shadow">claimed</a><br>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>