<section>
    <div class="container mt-4">
        <div class="d-flex ">
            <div class="btn-group">
                <ul class="dropdown-menu" aria-labelledby="timezoneDropdown">
                    <li><a class="dropdown-item">pending</a></li>
                    <li><a class="dropdown-item">placed</a></li>
                    <li><a class="dropdown-item">shipped</a></li>
                    <li><a class="dropdown-item">out for delivery </a></li>
                    <li><a class="dropdown-item">delivered</a></li>
                </ul>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="table-responsive">
                <table class="table " id="orderTable">
                    <thead>
                        <tr>
                            <th scope="col" style="border: none;">Date</th>
                            <th scope="col" style="border: none;">Name</th>
                            <th scope="col" style="border: none;">Address</th>
                            <th scope="col" style="border: none;"> price</th>
                            <th scope="col" style="border: none;">peyment</th>
                            <th scope-"col" style="border: none;">status</th>
                            <th scope-"col" style="border: none;">view</th>
                            <th scope-"col" style="border: none;">!</th>

                        </tr>
                    </thead>
                    <tbody>
                        {{#each orders}}
                        <tr>
                            <td scope="row" style="width: 100px;">{{this.date}}</th>
                            <td>{{this.deliveryDetails.name}}</td>
                            <td>{{this.deliveryDetails.Address}} <br>
                                pin : {{this.deliveryDetails.pincode}} <br>
                                phone : {{this.deliveryDetails.phoneNumber}}</td>
                            <td>Rs.{{this.totalPrice}}/-</td>
                            <td>{{this.deliveryDetails.paymentMethod}}</td>
                            <td>{{this.status}}</td>
                            <td><a href="/shop/view-order-products/{{this._id}}" class="btn btn-primary shadow">view
                                    product</a></td>
                            <td>
                                <a href="/shop/shipped/{{this._id}}" class="btn shadow status">shipped</a><br>
                                <a href="/shop/transport/{{this._id}}" class="btn  mt-3 shadow">transporting</a><br>
                                <a href="/shop/delivered/{{this._id}}" class="btn  mt-3 shadow">delivered</a><br>
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>